<div class="about-content">

  <h2>This Site</h2>

  <p>VFYW Map is a cartographic manifestation of a regular photo feature on <a href="http://dish.andrewsullivan.com/">The Dish</a>. Each post is parsed, geotagged, and organized by date posted and time of day.

  <p>VFYW Map is created by me, <a href="http://tonyta.herokuapp.com/">Tony Ta</a>. If you like the site, <a href="http://dish.andrewsullivan.com/subscribe/">subscribe to The Dish</a> from which the content was borrowed.

  <h2>The View From Your Window</h2>

  <p>The View From Your Window (VFYW) is a daily feature on Andrew Sullivan's blog, <a href="http://dish.andrewsullivan.com/">The Dish</a>. Everyday, readers from around the globe submit pictures they have taken through their own window. Everyday, one picture is featured, sharing one lucky reader's first-person glimpse of the world.

  <p>Andrew <a href="http://dish.andrewsullivan.com/2006/05/22/the_view_from_y-14/">announced the feature on May 22, 2006</a> as a way to get to know his readers:

  <blockquote>One of the strange things about having a blog, especially a one-man outfit like this one, is that, over time, you get to find out more about me, but not much about each other. Yes, you get to read some of the smartest emails on the web, but you don’t get to know who your fellow-readers are, where they live, what they do, what they see as they look out their window each morning.</blockquote>

  <p><a href="http://dish.andrewsullivan.com/2013/04/15/from-the-archive-the-first-view-from-your-window/">The first VFYW</a> was posted on the same day. Ever since, the feature has become more and more popular, taking on strange prohibitions against <a href="http://dish.andrewsullivan.com/2013/12/04/the-view-from-your-window-376/">animals</a> and <a href="http://dish.andrewsullivan.com/2010/10/29/the-view-from-your-window-double-rainbow-edition/">rainbows</a>, and at one point was even <a href="http://dish.andrewsullivan.com/2006/05/30/the_view_from_y_64/">unsuccessfully canceled</a>.

</div>