<div>
  <h4>Time range:</h4>
  <span id="time"></span>
</div>

<div class="slider" id="time-range"></div>

<div>
  <h4>Date range:</h4>
  <span id="date"></span>
</div>
<div class="slider" id="date-range"></div>

<img class="vfyw-image" src="/uploads/view/c3557f18-a348-402f-bd4f-ba6eb0f9bcf1.jpg">