<div>
  <h4>Time range:</h4>
  <span id="time"></span>
</div>

<div class="slider" id="time-range"></div>

<div>
  <p> </p>
  <h4>Date range:</h4>
  <span id="date"></span>
</div>
<div class="slider" id="date-range"></div>

<div id="vfyw-container">
  <p id="vfyw-posted"></p>
  <a id="vfyw-url" href='#' target="_blank">
    <img id="vfyw-image" src="">
  </a>
  <p id="vfyw-description"></p>
</div>