<div id="slider-container">
  <h4>Date VFYW was posted:</h4>
  <p id="date"></p>
  <div class="slider" id="date-range"></div>

  <h4>Time picture was taken:</h4>
  <p id="time"></p>
  <div class="slider" id="time-range"></div>
</div>


<div id="vfyw-container">
  <a id="vfyw-url" href='#' target="_blank">
    <img id="vfyw-image" src="">
  </a>
  <p id="vfyw-posted"></p>
  <p id="vfyw-description"></p>
</div>