<header class="navbar">
<div>
  <a href="#">
    <img src="window_logo.png" id="window" height="40" width="40">
    <h1 id="logo">A View From Your Window<span> | map</span></h1>
  </a>
</div>
<nav>
  <ul class="nav">
    <li><%= link_to "About", "\#" %></li>
    <li><%= link_to "The Dish", "\#" %></li>
  </ul>
</nav>


</header>