<header class="navbar">
<div>
  <a href="#">
    <img src="window_logo.png" id="window" height="40" width="40">
    <h1 id="logo">The View From Your Window<span> | map</span></h1>
  </a>
</div>
<nav>
  <ul class="nav">
    <li><%= link_to "About", '', id: "about-toggle" %></li>
    <li><%= link_to "The Dish", "http://dish.andrewsullivan.com/", target: "_blank" %></li>
  </ul>
</nav>


</header>